@font-face {
  font-family: 'Ticking Timebomb BB';
  src: url('./ticking-timebomb-bb.woff2') format('woff2'),
  url('./ticking-timebomb-bb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #312F30;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.console {
  //width: 40vh;
  //height: 95%;
  position: relative;
  width: 335px;
  width: 670px;

  svg {
    width: 100%;
  }
}

#app {
  position: absolute;
  top: 11.5%;
  left: 32.4%;
  width: 22.8%;

  .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: min-content auto;
    gap: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .score {
    font-family: 'Ticking Timebomb BB';
    position: absolute;
    left: 108%;
    top: 0;
    font-size: 27px;
    @media screen and (max-width: 687px) {
      font-size: 4.116vw;

    }
  }
}

.pixel {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  opacity: 0.2;
  padding: 100% 0 0;
  background: url(pixel.svg) center center / cover no-repeat;

  &.is-active {
    opacity: 1;
  }
}

.github-corner {
  color: rgb(215, 86, 55);

  svg {
    fill: rgb(49, 47, 48);
    color: rgb(247, 113, 27);
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
  }
}
